<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-select.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!--<script>window.jQuery || document.write('<script src="## asset('js/jquery.js') '"><\/script>')</script>-->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
        <script type="text/javascript" src="{{ asset('js/bootstrap-select.js') }}">
        <script type="text/javascript">
        $('.selectpicker').selectpicker();
        </script>

    </body>
</html>
