{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Histogram' %}

{% block javascripts %}
<script src="{{ asset('js/d3.v3.min.js') }}"></script>
<script src="{{ asset('js/histogram-simple.js') }}"></script>
<script type="text/javascript">
{% for url, times in datas %}
    loadHistogramSimple({{ times|json_encode }}, '#div-hist-{{ loop.index }}');
{% endfor %}

</script>
{% include 'MoschiniPerfToolBundle::menu.html.twig' with {'site': app.request.get('site'), 'route': 'moschini_perftool_default_graph'} %}
{% render url('moschini_perftool_sites_js', {'site': app.request.get('site'), 'url': app.request.get('url')}) %}
{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/graph.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

{% render url('moschini_perftool_sites_sites', {'site': app.request.get('site')}) %}

{% for url, times in datas %}
	<div id="div-hist-{{ loop.index }}">
        <h3><a href="{{ path('moschini_perftool_default_index', {'site': app.request.get('site'), 'url': url}) }}">{{ url }}</a>
		</h3>
	</div>

{% endfor %}

{% endblock %}
