
{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Requests' %}
{% block content %}

<a class="btn btn-default pull-right" href="{{ path('moschini_perftool_default_send', {'site': app.request.get('site')}) }}">Create new</a>

{% render url('moschini_perftool_sites_sites', {'site': app.request.get('site')}) %}

{% if requests|length > 0 %}
<table class="table">
<thead>
    <tr>
        <th width="150">Date</th>
        <th>Url</th>
        <th width="90" class="text-right">Load Time</th>
    </tr>
</thead>
<tbody>
{% for id, request in requests %}

    <tr>
        <td>{{ request['date'].format('Y-m-d@H:i:s') }}</td>
        <td>
<a href="{{ path('moschini_perftool_default_harviewer', {'id': id, 'site': app.request.get('site')}) }}">{{ request['url'] }}</a>
        </td>
        <td class="text-right">
            {{ (request['loadtime']/1000)|number_format(3) }}
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{{ knp_pagination_render(pagination) }}
<button type="button" data-toggle="modal" class="btn btn-danger" data-target="#modalConfirmDelete">Delete all</button>
{% endif %}

<div id="modalConfirmDelete" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm delete</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete all requests for this site?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="btnDelete" class="btn btn-danger">Delete</button>
  </div>
</div>


{% endblock %}
{% block javascripts %}
{% include 'MoschiniPerfToolBundle::menu.html.twig' with {'site': app.request.get('site'), 'route': 'moschini_perftool_default_index'} %}
{% render url('moschini_perftool_sites_js', {'site': app.request.get('site'), 'url': app.request.get('url')}) %}
<script type="text/javascript">
$(function(){
    $('#btnDelete').on('click', function(){
        $.ajax({
            url: "{{ path('moschini_perftool_default_delete', {'site': app.request.get('site')}) }}",
            type: "POST",
            success: function(data, textStatus, jqXHR){
                location.reload();
            }
        });   
    });
});
</script>
{% endblock %}
