
{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block content %}

<a href="{{ path('moschini_perftool_default_send') }}">Create new</a>
<br />

{% for id, file in files %}
{{ file.getDate.format('Y-m-d') }}
<a href="{{ path('moschini_perftool_default_harviewer', {'id':id}) }}">{{ file.getUrl }}</a>
<br />
{% endfor %}

{% if sites is defined %}
<ul>
{% for site in sites %}
<li><a href="{{ path('moschini_perftool_default_index', {'site': site}) }}">{{ site }}</a></li>
{% endfor %}
</ul>
{% endif %}


{% endblock %}
