{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Histogram of assets' %}

{% block content %}
{% if url is not empty %}
<p>
Host: <a title="Show more assets from this domain" href="{{ path('moschini_perftool_default_info', {'site': app.request.get('site'), 'host': host}) }}">{{ host }}</a>
</p>
{% endif %}
<p>
Domain: <a title="whois" href="{{ path('moschini_perftool_default_lookup', {'site': app.request.get('site'), 'domain': domain}) }}">{{ domain }}</a>
</p>

{% for url in times|keys %}
<h3>
{% if url is not empty %}
<a href="{{ path('moschini_perftool_default_send', {'site': app.request.get('site'), 'url': url}) }}" title="{{ url }}">{{ urls[url].getPath }}</a>
{% else %}
<a href="{{ path('moschini_perftool_default_info', {'site': app.request.get('site'), 'url': url}) }}" title="{{ url }}">{{ urls[url].getPath }}</a>
{% endif %}
</h3>
<div id="div-hist-{{ loop.index }}"></div>
<div id="div-pie-{{ loop.index }}"></div>
{% endfor %}

{% endblock %}

{% block javascripts %}
{% include 'MoschiniPerfToolBundle::menu.html.twig' with {'site': app.request.get('site'), 'route': 'moschini_perftool_default_graph'} %}
<script type="text/javascript">

{% for url,data in times %}
loadHistogramSimple({{ data|json_encode|raw }}, '#div-hist-{{ loop.index }}');
{% endfor %}
{% for url,data in timings %}
loadPieChart({{ data|json_encode|raw }}, '#div-pie-{{ loop.index }}');
{% endfor %}
</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
.slice {
    stroke: #fff;
    stroke-width: 1px;
}
</style>
{% endblock %}

