{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Create new request' %}

{% block content %}

<form action="{{ path('moschini_perftool_default_send', {'site': app.request.get('site')}) }}" method="post" {{ form_enctype(form) }}>

{{ form_row(form.site) }}
{{ form_row(form.url) }}
{{ form_label(form.nb, 'Number of requests') }}
{{ form_widget(form.nb) }}
{{ form_rest(form) }}
<br />
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
{% block javascripts %}
{% include 'MoschiniPerfToolBundle::menu.html.twig' with {'site': app.request.get('site'), 'route': 'moschini_perftool_default_index'} %}
{% endblock %}
