{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Monitoring' %}

{% block content %}

{% render url('moschini_perftool_sites_managedsites', {'site': app.request.get('site')}) %}

<a class="btn pull-right" href="{{ path('moschini_perftool_sites_add', {'site': app.request.get('site')}) }}">Add site</a>

{% if sites.count %}
<table class="table">
    <thead>
    <tr>
        <th>Site</th>
        <th>Interval</th>
        <th># Urls</th>
    </tr>
    </thead>
    <tbody>
    {% for site in sites %}
    <tr>
        <td>
            <a href="{{ path('moschini_perftool_sites_edit', {'site': app.request.get('site'), 'id': attribute(site['_id'], '$id') }) }}">{{ site['site'] }}</a>
        </td>
        <td>
            {{ site['interval'] }}
        </td>
        <td>
            {{ site['urls']|length }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
{% if current_site is empty %}
No sites have been added to the monitoring yet. <a href="{{ path('moschini_perftool_sites_add', {'site': app.request.get('site')}) }}">Add yours</a> to get started.
{% else %}
This site has no urls monitored at the moment. Would you like to <a href="{{ path('moschini_perftool_sites_add', {'site': app.request.get('site')}) }}">add some urls</a> to monitor?
{% endif %}
{% endif %}

{% endblock %}

{% block javascripts %}
{% include 'MoschiniPerfToolBundle::menu.html.twig' with {'site': app.request.get('site'), 'route': 'moschini_perftool_sites_index'} %}
{% endblock %}
