<div class="top-selection">
{% if sites %}
Site: 
<div class="btn-group" id="site-selection">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
        {{ current_site|default('Select one') }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for name, urls in sites %}
        <li class="dropdown{% if urls|length > 1 %}-submenu{% endif %} {% if name == current_site %}active{% endif %}">
            <a href="{{ path(route, {'site': name}) }}">{{ name }}
            </a>
            {% if urls|length > 1 %}
            <ul class="dropdown-menu" id="sites-url">
               <li><a href="{{ path(route, {'site': name}) }}">All</a></li> 
               <li class="divider"><li>
               {% for data in urls %}
                   <li><a href="{{ path(route, {'site': name, 'url': data._id}) }}">{{ data._id }}</a></li>
               {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
There are no sites created yet. Create a <a href="{{ path('moschini_perftool_default_send') }}">new request</a> to get started.
{% endif %}
</div>
